@import '../../styles/colors.scss';
@import '../../styles/shared.scss';

.artist-page {
    position: relative;
    padding: 20px;
    overflow-x: hidden;
    .background-text {
        font-family: GrandSlam Roman, serif;
        font-size: 50vw;
        color: #111;
        opacity: 0.04;
        position: absolute;
        top: -20vw;
        left: -10%;
        z-index: 0;
    }
    h1 {
        font-weight: 100;
    }
    .artist-name {
        color: $black;
        font-family: GrandSlam Roman, serif;
        font-size: 15vw;
        padding-top: 25vh;
        line-height: 1;
        position: relative;
        z-index: 1;
    }
    .artist-caption {
        color: #2e2e2e;
        font-family: 'Faktum', sans-serif;
        font-weight: 100;
        margin: 30px 0;
        line-height: 1.5;
    }
    .artist-image {
        width: 100%;
    }
    
}