@import '../../styles/colors.scss';

a {
    text-decoration: none;
    display: block;
}
.artist {
    
    width: 250px;
    height: 100%;
    position: relative;
    z-index: 10;
    flex: 0 0 auto;
    background: none;
    margin: 0 50px 0 0;
    // border-bottom: 1px solid $white;
    // padding: 15px;
    
    .artist-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .artist-image-container  {
        width: 250px;
        height: 350px;
        overflow: hidden;

        &:before {
            position: absolute;
            z-index: -1;
            content: ''; 
            width: 250px;
            height: 350px; 
            top: 10px;
            left: 10px;
            background-color: #111;
            opacity: 0.2;
        }
    }
    
    .artist-image-container {
        // overflow: hidden;
    }

    .artist-index {
        margin: 10px 0;
        text-align: right;
        color: $pink;
        font-family: 'Recoleta Alt', serif;
        font-weight: 300;
        font-size: 1rem;
    }
    
    .artist-name {
        font-family: 'Faktum', serif;
        // mix-blend-mode: difference;
        h1 {
            color: $black;
            font-size: 1rem;
            // text-align: center;
            font-weight: 500;
            line-height: 1;
        }
    }
    .artist-caption {
        // display: inline-block;
        margin: 15px 0;
        text-transform: uppercase;
        color: $black;
        font-family: 'Faktum', sans-serif;
        font-weight: 100;
        font-size: .9rem;
        font-weight: 100;
    }
}
