#home {
    padding: 100px 0;
    
}

.heading {
    margin: 50px 5vw 10px 5vw;
    h1 {
        font-size: 15vw;
        font-family: Recoleta Alt, serif;
        font-weight: 700;
        color: #FFFFFF;
    }
}

.all-artists {
    padding: 0 5vw;
}